{% extends 'base.html' %}

{% block content %}
<section class="block mt-6 px-6">
  <div class="level is-mobile">
    <div class="level-left">
      <div class="level-item">
        <div>
          <p class="title is-1">{{ client.name }} <button class="tag is-info" id="modal-open-button">Rename</button></p>
          <p id="rename-result-msg" class="subtitle is-6 is-invisible">&nbsp;</p>
        </div>
      </div>
    </div>
    <div class="level-right">
      <a href="{% url 'oauth:index' %}">Back</a>
    </div>
  </div>
  <p class="subtitle">Status: <span class="tag is-medium is-warning">{{ client.get_status_display }}</span></p>
</section>
<hr>
<section class="columns">
  <div class="column">
    <section class="mx-5 has-text-centered">
      <h2 class="title mb-2">Callback URLs</h2>
      <p class="subtitle">URLs to notify user's approval</p>
      <form class="mb-3">
        <div class="field has-addons">
          <div class="control is-expanded">
            <input class="input" type="url" name="url" required>
          </div>
          <div class="control">
            <button class="button is-info" type="submit">Add</button>
          </div>
        </div>
      </form>
      {% if client.callback_urls|length %}
      <table class="table has-text-centered">
        <thead>
          <th>Callback URLs</th>
          <td>Action</td>
        </thead>
        <tbody>
          {% for url in client.callback_urls.all %}
          <tr>
            <td>{{ url }}</td>
            <td><button class="tag is-danger">Delete</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p class="is-size-5 has-text-warning">No Callback URLs set</h3>
      {% endif %}
    </section>
  </div>
  <div class="column">
    <section class="mx-5 has-text-centered">
      <h2 class="title mb-2">Testers</h2>
      <p class="subtitle">Users allowed before open</p>
      <form class="mb-3">
        <div class="field has-addons">
          <div class="control is-expanded">
            <input class="input" type="email" name="email" required>
          </div>
          <div class="control">
            <button class="button is-info" type="submit">Add</button>
          </div>
        </div>
      </form>
      {% if client.test_users|length %}
      <table class="table has-text-centered">
        <thead>
          <th>Testers</th>
          <td>Action</td>
        </thead>
        <tbody>
          {% for tester in test_users %}
          <tr>
            <td>{{ tester.email }}</td>
            <td><button class="tag is-danger">Remove</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p class="is-size-5 has-text-warning">No testers invited</h3>
      {% endif %}
    </section>
  </div>
</section>
<hr>
<section class="block px-6">
  <a class="button is-clickable is-danger" href="{% url 'oauth:delete' client.pk %}">Delete</a>
</section>
{% comment %} modal {% endcomment %}
<div id="rename-client-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box mx-3">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <p class="title is-4">Rename Client</p>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <button id="modal-close-button" class="delete" aria-label="close"></button>
          </div>
        </div>
      </div>
      
      <form class="mb-3" action="{% url 'oauth:update' client.pk %}" method="post">
        {% csrf_token %}
        <div class="field has-addons">
          <div class="control is-expanded">
            <input class="input" type="text" name="name" required>
          </div>
          <div class="control">
            <button class="button is-info" type="input">Rename</button>
          </div>
        </div>
      </form>
      <!-- Your content -->
    </div>
  </div>
</div>

{% endblock content %}

{% block script %}
<script>
const modal = document.getElementById('rename-client-modal')

const openModal = () => modal.classList.add('is-active')
const closeModal = () => modal.classList.remove('is-active')

document.getElementById('modal-open-button').addEventListener('click', openModal)
document.querySelector('.modal-background').addEventListener('click', closeModal)
document.getElementById('modal-close-button').addEventListener('click', closeModal)
document.addEventListener('keydown', (event) => {
  if(event.key === "Escape") {
    closeModal();
  }
});

const renameSuccess = urlParams.get('rename')
const error = urlParams.get('errors')
if (renameSuccess || error === 'clientname') {
  const renameResultMsg = document.getElementById('rename-result-msg')
  renameResultMsg.innerText = renameSuccess ? 'Rename Success!!!' : 'Rename Failed.'
  renameResultMsg.classList.toggle(renameSuccess ? 'has-text-success' : 'has-text-danger')
  renameResultMsg.classList.toggle('is-invisible')
  setTimeout(() => {
    renameResultMsg.classList.toggle('is-invisible')
  }, 3000)
}

</script>
{% endblock script %}
