{% extends 'base.html' %}

{% block content %}
<section class="mt-6 px-6">
  <div class="title level is-mobile mb-5">
    <div class="level-left">
      <div class="level-item">
        <div>
          <p id="edit-result-msg" class="subtitle is-6 is-invisible">&nbsp;</p>
          <p class="title is-1">{{ client.name }} <button class="tag is-info open-modal-btn" data-modal-target="edit-client-modal">Edit</button></p>
          <p class="subtitle">{{ client.get_desc }}</p>
        </div>
      </div>
    </div>
    <div class="level-right">
      <a class="button is-info" href="{% url 'oauth:index' %}">Back</a>
    </div>
  </div>
  <div class="level is-mobile">
    <div class="level-left">
      <div class="level-item">
        <p class="subtitle">
          Status: <span 
            class="
              tag 
              is-medium
              {% if client.status == 'PROD' %}
              is-success
              {% elif client.status == 'REJ' or client.status == 'CLO' %}
              is-danger
              {% else %}
              is-warning
              {% endif %}
              "
            >
            {{ client.get_status_display }}
          </span>
          {% if client.status == 'REJ' or client.status == 'CLO' %}
          <button class="tag open-modal-btn" data-modal-target="reason-modal">Reasons</button>
          {% elif client.status == 'PROD' %}
          <button class="tag open-modal-btn" id="close-button" data-modal-target="close-modal">Close Temporarily</button>
          {% endif %}
          {% if client.status != 'DEL' and client.status != 'PROD' and client.status != 'REV' %}
          <button class="tag open-modal-btn" id="request-button" data-modal-target="request-modal">Request Open</button>
          {% endif %}
        </p>
      </div>
    </div>
  </div>
  <div class="level is-mobile">
    <div class="level-left">
      <div class="level-item">
        <p class="subtitle">Client ID: <code class="is-hidden-mobile">{{ client.client_id }}</code> <button data-dj-value="{{ client.client_id }}" class="copy-btn tag">Copy</button></p>
      </div>
    </div>
  </div>
  <div class="level is-mobile">
    <div class="level-left">
      <div class="level-item">
        <p class="subtitle">Client Secret: <code id="client-secret" class="is-hidden-mobile" data-dj-value="{{ client.client_secret }}">******* Click to reveal ********</code> <button data-dj-value="{{ client.client_secret }}" class="copy-btn tag">Copy</button></p>
      </div>
    </div>
  </div>
</section>
<hr>
<section class="my-4 px-6">
  <form action="{% url 'oauth:update_entry' client.pk %}" method="post">
    {% csrf_token %}
    <div class="level mb-1">
      <div class="level-left is-align-items-baseline">
        <div class="level-item">
          <h3 class="title">Entrypoint</h3>
        </div>
        <div class="level-item">
          <h5 id="entrypoint-message" class="is-hidden m-0">Test</h5>
        </div>
      </div>
    </div>
    <p class="subtitle is-6">If a user wants to be redirected from the profile page, they will land here.<br>If not set, the link will not be exposed in the profile page.</p>
    
    <div class="field has-addons">
      <div class="control is-expanded">
        <input class="input" type="url" name="entrypoint" value="{{ client.get_entry }}" required>
      </div>
      <div class="control">
        <button class="button is-info" type="submit" {% if not callback_urls|length < 4 %}disabled{% endif %}>Set</button>
      </div>
    </div>
  </form>
  
</section>
<hr>
<section class="columns">
  <div class="column">
    <section class="mx-5 block has-text-centered">
      <h2 class="title mb-2">Callback URLs</h2>
      <p class="subtitle">URLs to notify user's approval</p>
      {% comment %} add url form {% endcomment %}
      <form class="mb-3" action="{% url 'oauth:callback_add' client.pk %}" method="post">
        {% csrf_token %}
        <div class="field has-addons">
          <div class="control is-expanded">
            <input class="input" type="url" name="url" required>
          </div>
          <div class="control">
            <button class="button is-info" type="submit" {% if not callback_urls|length < 4 %}disabled{% endif %}>Add</button>
          </div>
        </div>
      </form>
      {% if callback_urls %}
      <table class="table is-fullwidth">
        <thead>
          <th class="has-text-left">Callback URLs</th>
          <td class="has-text-right">Action</td>
        </thead>
        <tbody>
          {% for url in callback_urls %}
          <tr>
            <td class="has-text-left">{{ url.url }}</td>
            {% comment %} remove form {% endcomment %}
            <td class="has-text-right">
              <form action="{% url 'oauth:callback_remove' client.pk url.pk %}" method="post">
                {% csrf_token %}
                <button class="tag is-danger is-light" type="submit">Delete</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <h3 class="is-size-5 has-text-warning">No Callback URLs set</h3>
      {% endif %}
      <p id="callback-msg" class="is-invisible"></p>
    </section>
  </div>
  <div class="column">
    <section class="mx-5 has-text-centered">
      <h2 class="title mb-2">Testers</h2>
      <p class="subtitle">Users allowed before open</p>
      {% comment %} add user form {% endcomment %}
      <form class="mb-3" action="{% url 'oauth:testuser_add' client.pk %}" method="post">
        {% csrf_token %}
        <div class="field has-addons">
          <div class="control is-expanded">
            <input class="input" type="email" name="email" required>
          </div>
          <div class="control">
            <button class="button is-info" type="submit" {% if not test_users|length < 10 %}disabled{% endif %}>Add</button>
          </div>
        </div>
      </form>
      {% if test_users %}
      <table class="table is-fullwidth">
        <thead>
          <th class="has-text-left">Testers</th>
          <td class="has-text-right">Action</td>
        </thead>
        <tbody>
          {% for tester in test_users %}
          <tr>
            <td class="has-text-left">{{ tester.email }}</td>
            <td class="has-text-right">
              <form action="{% url 'oauth:testuser_remove' client.pk %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="email" value="{{ tester.email }}">
                <button class="tag is-danger is-light" type="submit">Remove</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <h3 class="is-size-5 has-text-warning">No testers invited</h3>
      {% endif %}
      <p id="testuser-msg" class="is-invisible"></p>
    </section>
  </div>
</section>
<hr>
<section class="block px-6">
  <a class="button is-clickable is-danger" href="{% url 'oauth:delete' client.pk %}">Delete</a>
</section>
{% comment %} edit-client modal {% endcomment %}
<div id="edit-client-modal" class="modal">
  <div class="modal-background" data-modal-target="edit-client-modal"></div>
  <div class="modal-content">
    <div class="box mx-3">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <p class="title is-4">Edit Client</p>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <button class="delete close-modal-btn" data-modal-target="edit-client-modal" aria-label="close"></button>
          </div>
        </div>
      </div>
      {% comment %} modal form {% endcomment %}
      <form class="mb-3" action="{% url 'oauth:update' client.pk %}" method="post">
        {% csrf_token %}
        <div class="field">
          <label for="name" class="label is-size=5">Name</label>
          <div class="control">
            <input 
              class="input"
              type="text"
              value="{{ client.name }}"
              placeholder="Client name"
              name="name"
              maxlength="128"
              autocapitalize="none"
              autofocus
              required
              id="name"
            >
          </div>
        </div>
        <div class="field">
          <label for="desc" class="label is-size=5">Description</label>
          <div class="control">
            <input 
              class="input"
              type="text"
              {% if client.desc %}
              value="{{ client.desc }}"
              {% endif %}
              placeholder="Description"
              name="desc"
              maxlength="128"
              autocapitalize="none"
              autofocus
              id="desc"
            >
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <input class="button is-clickable is-primary" type="submit" value="Edit">
            <button class="button is-clickable is-warning close-modal-btn" type="button" data-modal-target="edit-client-modal">Close</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% comment %} request modal {% endcomment %}
<div id="request-modal" class="modal">
  <div class="modal-background" data-modal-target="request-modal"></div>
  <div class="modal-content">
    <div class="box mx-3">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <p class="title is-4">Request Open</p>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <button class="delete close-modal-btn" data-modal-target="request-modal" aria-label="close"></button>
          </div>
        </div>
      </div>
      <form class="mb-3" action="{% url 'oauth:review' client.pk %}" method="post">
        {% csrf_token %}
        <p class="has-text-weight-semibold">Ready to launch your application?</p>
          <div class="field is-grouped">
          <div class="control">
            <input class="button is-clickable is-primary" type="submit" value="Yes">
            <button class="button is-clickable is-warning close-modal-btn" type="button" data-modal-target="request-modal">No</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% comment %} reason modal {% endcomment %}
<div id="reason-modal" class="modal">
  <div class="modal-background" data-modal-target="reason-modal"></div>
  <div class="modal-content">
    <div class="box mx-3">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <p class="title is-4">Reject Reasons</p>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <button class="delete close-modal-btn" data-modal-target="reason-modal" aria-label="close"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% comment %} close modal {% endcomment %}
<div id="close-modal" class="modal">
  <div class="modal-background" data-modal-target="close-modal"></div>
  <div class="modal-content">
    <div class="box mx-3">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <p class="title is-4">Close</p>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <button class="delete close-modal-btn" data-modal-target="close-modal" aria-label="close"></button>
          </div>
        </div>
      </div>
      <form class="mb-3" action="{% url 'oauth:close' client.pk %}" method="post">
        {% csrf_token %}
        <p class="has-text-weight-semibold">Stop using your application?</p>
          <div class="field is-grouped">
          <div class="control">
            <input class="button is-clickable is-danger" type="submit" value="Yes">
            <button class="button is-clickable is-warning close-modal-btn" type="button" data-modal-target="request-modal">No</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}

{% block script %}
{% comment %} edit client {% endcomment %}
<script>
  const editSuccess = urlParams.get('edit')
  const error = urlParams.get('errors')
  if (editSuccess || error === 'clientname') {
    const editSuccessMsg = document.getElementById('edit-result-msg')
    editSuccessMsg.innerText = editSuccess ? 'Edit Success!!!' : 'Edit Failed.'
    editSuccessMsg.classList.add(editSuccess ? 'has-text-success' : 'has-text-danger')
    editSuccessMsg.classList.toggle('is-invisible')
    setTimeout(() => {
      editSuccessMsg.classList.toggle('is-invisible')
    }, 3000)
  }
</script>

{% comment %} entrypoint {% endcomment %}
<script>
  const entrypoint = urlParams.get('entrypoint')
  if (entrypoint) {
    const entrypointMsgContainer = document.getElementById('entrypoint-message')
    entrypointMsgContainer.classList.toggle('is-hidden')
    if (entrypoint === 'success') {
      entrypointMsgContainer.innerText = 'Entrypoint set'
      entrypointMsgContainer.classList.add('has-text-success')
    } else {
      entrypointMsgContainer.innerText = 'Error'
      entrypointMsgContainer.classList.add('has-text-danger')
    }
    setTimeout(() => {
      entrypointMsgContainer.classList.toggle('is-hidden')
    }, 3000)
  }
</script>

{% comment %} callback urls {% endcomment %}
<script>
  const callback = urlParams.get('callback')
  if (callback) {
    const callbackMsg = document.getElementById('callback-msg')
    if (callback === 'add') {
      callbackMsg.innerText = 'URL added'
      callbackMsg.classList.add('has-text-success')
    }
    else if (callback === 'remove') {
      callbackMsg.innerText = 'URL removed'
      callbackMsg.classList.add('has-text-warning')
    }
    else if (callback === 'exceed_limit') {
      callbackMsg.innerText = 'Maximum of 4 URLs allowed'
      callbackMsg.classList.add('has-text-danger')
    }
    else {
      callbackMsg.innerText = 'Error: Check for duplicates'
      callbackMsg.classList.add('has-text-danger')
    }
    
    callbackMsg.classList.toggle('is-invisible')
    setTimeout(() => {
      callbackMsg.classList.toggle('is-invisible')
    }, 3000)
  }
</script>

{% comment %} test users {% endcomment %}
<script>
  const testuser = urlParams.get('testuser')
  if (testuser) {
    const testuserMsg = document.getElementById('testuser-msg')
    if (testuser === 'add') {
      testuserMsg.innerText = 'Test user added'
      testuserMsg.classList.add('has-text-success')
    }
    else if (testuser === 'remove') {
      testuserMsg.innerText = 'Test user removed'
      testuserMsg.classList.add('has-text-warning')}
    else if (testuser === 'exceed_limit') {
      testuserMsg.innerText = 'Maximum of 10 Users allowed'
      testuserMsg.classList.add('has-text-danger')}
    else if (testuser === 'duplicate') {
      testuserMsg.innerText = 'User already added'
      testuserMsg.classList.add('has-text-danger')}
    else if (testuser === 'not_found') {
      testuserMsg.innerText = 'User not found'
      testuserMsg.classList.add('has-text-danger')
    }
    else {
      testuserMsg.innerText = 'Error'
      testuserMsg.classList.add('has-text-danger')
    }

    testuserMsg.classList.toggle('is-invisible')
    setTimeout(() => {
      testuserMsg.classList.toggle('is-invisible')
    }, 3000)
  }
</script>

{% comment %} client keys {% endcomment %}
<script>
  document.querySelectorAll('.copy-btn').forEach(button => button.addEventListener('click', (event) => {
    navigator.clipboard.writeText(event.target.dataset.djValue)
    event.target.innerText = 'Copied!'
    setTimeout(() => {
      event.target.innerText = 'Copy'
    }, 3000)
  }))

  let clientSecretHolder = document.getElementById('client-secret')
  let masked = true
  clientSecretHolder.addEventListener('click', (event) => {
    if (masked) clientSecretHolder.innerText = clientSecretHolder.dataset.djValue
    else clientSecretHolder.innerText = '******* Click to reveal ********'
    masked = !masked
  })
</script>
{% endblock script %}
