{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="columns">
  <div class="column is-two-fifths">
    <div class="box m-4">
      <p class="image is-1by1">
        <img class="is-rounded" src="{% static 'assets/images/user.png' %}" alt="Profile Image">
      </p>

      <h1 class="title is-4">{{ user.get_nickname }}</h1>
      <p class="subtitle is-6">{{ user }}</p>
      {% if user.bio %}
        <h2 class="title is-5">Who I am</h2>
        <p class="subtitle is-6">{{ user.bio }}</p>
      {% endif %}

      {% for link in links %}
      <div class="mb-4 level">
        <div class="level-left">
          <div class="level-item">
            <div class="content">
              <p class="title is-6">{{ link.name }}</p>
              <p class="subtitle is-6"><a href="{{ link.url }}">{{ link.url }}</a></p>
            </div>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <form action="{% url 'accounts:delete_link' link.pk %}" method="post">
              {% csrf_token %}
              <button class="delete" aria-label="remove"></button>
            </form>
          </div>
        </div>
      </div>
      {% empty %}
      <p>No links</p>
      {% endfor %}
      <button class="button open-modal-btn" data-modal-target="edit-profile-modal">Edit</button>
      <button class="button open-modal-btn" data-modal-target="add-link-modal">Add Link</button>
    </div>
    <div id="profile-message-container" class="block mx-4 is-hidden">
      <article class="message">
        <div class="message-body">
          <p class="message-text"></p>
      </article>
    </div>
  </div>
  <div class="column">
    <section class="section">
      <h2 class="title">Using Services</h2>
      <p class="subtitle">Services that can use your info.</p>
      {% for app in using_apps %}
        <article class="media">
          <figure class="media-left">
            <p class="image is-48x48">
              <img src="{% static 'assets/images/application.png' %}" alt="App Image">
            </p>
          </figure>
          <div class="media-content">
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <div class="content">
                    <h3 class="title is-4">{{ app.name }}</h3>
                    <p class="subtitle is-6">{{ app.desc }}</p>
                  </div>
                </div>
              </div>
              <div class="level-right">
                {% if app.get_entry %}
                <div class="level-item">
                  <a href="{{ app.get_entry }}" target="_blank" class="button is-info">Go</a>
                </div>
                {% endif %}
                <div class="level-item">
                  <form action="{% url 'oauth:revoke' app.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="button is-danger">Revoke</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </article>
      {% empty %}
        <h3 class="is-size-5 has-text-warning">You are not using any apps!</h3>
      {% endfor %}
      <p id="revoke-message-text" class="has-text-warning is-hidden"></p>
      <p>If you revoke, you may need to re-login at the target service.</p>
    </section>
    <hr class="my-2">
    <section class="section">
      <h2 class="title">My Apps</h2>
      <p class="subtitle">My OAuth apps.</p>
      {% for client in clients %}
        <article class="media">
          <figure class="media-left">
            <p class="image is-48x48">
              <img src="{% static 'assets/images/application.png' %}" alt="App Image">
            </p>
          </figure>
          <div class="media-content">
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <div class="content">
                    <h3 class="title is-4">{{ client.name }}</h3>
                    <p class="subtitle is-6">{{ client.get_desc }}</p>
                  </div>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <a href="{% url 'oauth:read' client.pk %}" class="button is-info">Go</a>
                </div>
              </div>
            </div>
          </div>
        </article>
      {% empty %}
        <h3 class="is-size-5 has-text-warning">You do not have any OAuth Apps!</h3>
      {% endfor %}
    </section>
  </div>
</div>
{% comment %} edit profile modal {% endcomment %}
<div id="edit-profile-modal" class="modal">
  <div class="modal-background" data-modal-target="edit-profile-modal"></div>
  <div class="modal-content">
    <div class="box mx-3">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <p class="title is-4">Edit Profile</p>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <button class="delete close-modal-btn" data-modal-target="edit-profile-modal" aria-label="close"></button>
          </div>
        </div>
      </div>
      {% comment %} modal form {% endcomment %}
      <form class="mb-3" action="{% url 'accounts:edit_profile' %}" method="post">
        {% csrf_token %}
        <div class="field">
          <label for="nickname" class="label is-size=5">Nickname</label>
          <div class="control">
            <input 
              class="input"
              type="text"
              {% if user.nickname %}
              value="{{ user.nickname }}"
              {% endif %}
              placeholder="If left blank, your email will be displayed."
              name="nickname"
              maxlength="16"
              autocapitalize="none"
              autofocus
              id="nickname"
            >
          </div>
        </div>
        <div class="field">
          <label for="bio" class="label is-size=5">Who I am</label>
          <div class="control">
            <input 
              class="input"
              type="text"
              {% if user.bio %}
              value="{{ user.bio }}"
              {% endif %}
              placeholder="Who I am in one sentence"
              name="bio"
              maxlength="64"
              autocapitalize="none"
              autofocus
              id="bio"
            >
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <input class="button is-clickable is-primary" type="submit" value="Edit">
            <button class="button is-clickable is-warning close-modal-btn" type="button" data-modal-target="edit-profile-modal">Close</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% comment %} add link modal {% endcomment %}
<div id="add-link-modal" class="modal">
  <div class="modal-background" data-modal-target="add-link-modal"></div>
  <div class="modal-content">
    <div class="box mx-3">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <p class="title is-4">Add Link</p>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <button class="delete close-modal-btn" data-modal-target="add-link-modal" aria-label="close"></button>
          </div>
        </div>
      </div>
      {% comment %} modal form {% endcomment %}
      <form class="mb-3" action="{% url 'accounts:add_link' %}" method="post">
        {% csrf_token %}
        <div class="field">
          <label for="link-name" class="label is-size=5">Link Name</label>
          <div class="control">
            <input 
              class="input"
              type="text"
              placeholder="What is this link?"
              name="name"
              maxlength="32"
              autocapitalize="none"
              autofocus
              required
              id="link-name"
            >
          </div>
        </div>
        <div class="field">
          <label for="link-url" class="label is-size=5">Link URL</label>
          <div class="control">
            <input 
              class="input"
              type="url"
              placeholder="Link"
              name="url"
              maxlength="64"
              autocapitalize="none"
              autofocus
              id="link-url"
            >
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <input class="button is-clickable is-primary" type="submit" value="Edit">
            <button class="button is-clickable is-warning close-modal-btn" type="button" data-modal-target="edit-profile-modal">Close</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

{% endblock content %}

{% block script %}
{% comment %} modal control {% endcomment %}
<script>
const openModal = (modalId) => document.getElementById(modalId).classList.add('is-active')
const closeModal = (modalId) => document.getElementById(modalId).classList.remove('is-active')

document.querySelectorAll('.open-modal-btn')
  .forEach(openBtn => openBtn.addEventListener('click', () => {
    openModal(openBtn.dataset.modalTarget)
}))

document.querySelectorAll('.close-modal-btn, .modal-background')
  .forEach(closeElem => closeElem.addEventListener('click', () => {
    console.log(closeElem.dataset.modalTarget)
    closeModal(closeElem.dataset.modalTarget)
}))
</script>

{% comment %} edit message {% endcomment %}
<script>
  const messageContainer = document.getElementById('profile-message-container')
  const message = messageContainer.querySelector('.message')
  const messageText = messageContainer.querySelector('.message-text')

  const edit = urlParams.get('edit')
  if (edit) {
    messageContainer.classList.remove('is-hidden')
    if (edit === 'success') {
      message.classList.add('is-success')
      messageText.innerText = 'Edit success'
    }
    else {
      message.classList.add('is-danger')
      messageText.innerText = 'Edit failed'
    }
  }

  const addLink = urlParams.get('addlink')
  if (addLink) {
    messageContainer.classList.remove('is-hidden')
    if (addLink === 'success') {
      message.classList.add('is-success')
      messageText.innerText = 'Link added'
    }
    else {
      message.classList.add('is-danger')
      messageText.innerText = 'Link add failed'
    }
  }

  const removeLink = urlParams.get('removelink')
  if (removeLink) {
    messageContainer.classList.remove('is-hidden')
    if (removeLink === 'success') {
      message.classList.add('is-success')
      messageText.innerText = 'Link removed'
    }
    else {
      message.classList.add('is-danger')
      messageText.innerText = 'Link remove failed'
    }
  }

  if (!messageContainer.classList.contains('is-hidden')) {
    setTimeout(() => {
      messageContainer.classList.toggle('is-hidden')
    }, 3000)
  }
</script>

{% comment %} revoke message {% endcomment %}
<script>
  const revoke = urlParams.get('revoke')
  if (revoke) {
    const revokeMsgContainer = document.getElementById('revoke-message-text')
    revokeMsgContainer.classList.toggle('is-hidden')
    revokeMsgContainer.innerText = revoke !== 'fail' ? `Revoked ${revoke}` : 'Revoke failed'
    setTimeout(() => {
      revokeMsgContainer.classList.toggle('is-hidden')
    }, 3000)
  }
</script>

{% endblock script %}