{% extends "base.html" %}

{% block content %}
<div class="colums">
  <div class="column m-auto is-8 is-10-mobile">
    <h1 class="is-size-1">Sign Up</h1>
    <form action="{% url 'accounts:signup' %}" method="post">
      {% csrf_token %}
      <div class="field">
        <label for="email" class="label is-size-4">Email</label>
        <div class="control">
          <input 
            class="input"
            type="email" 
            placeholder="Email" 
            name="email" 
            maxlength="150"
            autocapitalize="none"
            autocomplete="username" 
            autofocus 
            required 
            id="email" 
            value="{% if email %}{{email}}{% endif %}"
          >
        </div>
        <p class="help is-danger">
          {% if "duplicate_email" in errors %}
          Email in use
          {% endif %}
        </p>
      </div>
      <div class="field">
        <label for="password1" class="label is-size-4">Password</label>
        <div class="control">
          <input 
            class="input" 
            type="password"
            placeholder="Password"
            name="password1" 
            autocomplete="new-password"
            required 
            id="password1"
          >
        </div>
        <p class="help is-danger">
          {% if "password_too_common" in errors %}
          Password is too common
          {% elif "password_mismatch" in errors %}
          Passwords didn't match
          {% endif %}
        </p>
      </div>
      <div class="field">
        <label for="password2" class="label is-size-4">Password Confirm</label>
        <div class="control">
          <input 
          class="input" 
          type="password"
          placeholder="Password Check"
          name="password2" 
          autocomplete="new-password" 
          required 
          id="password2">
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <input class="input" type="submit">
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
