{% extends 'base.html' %}
{% block head %}
<style>
  input.has-text-link {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
  }
</style>
{% endblock head %}
{% block content %}
<section class="m-3 box hero is-halfheight is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
  <h1 class="block">Your Account needs Verification</h1>
  <p class="block">Please check your inbox. We have sent an email to verify the address you gave us is actually yours.</p>
  {% if email %}
  <form method="post">
    <p>If you want us to send the email again, click <input class="has-text-link is-clickable" type="submit" value="here"></p>  
    <div class="is-hidden">
      <div class="control">
        <input
          class="input"
          type="email"
          placeholder="Email"
          name="username"
          maxlength="150"
          autocapitalize="none"
          autocomplete="username"
          autofocus
          required
          id="email"
          value="{{ email }}"
        >
      </div>
    </div>
  </form>
  {% elif not created %}
  <form method="post">
    <p>If you want us to send the email again, enter your address below:</p>
    <div class="field">
      <div class="control">
        <input
          class="input"
          type="email"
          placeholder="Email"
          name="username"
          maxlength="150"
          autocapitalize="none"
          autocomplete="username"
          autofocus
          required
          id="email"
        >
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <input class="input is-clickable" type="submit">
      </div>
    </div>
  </form>
  {% endif %}
  {% if resent %}
    <p id="message" class="help is-success is-size-6 mb-4">
      Verification email resent
    </p>
    {% endif %}
</section>
{% endblock content %}
{% comment %} {% block script %}
<script>
  const message = document.getElementById('message')
  if (message) setTimeout(() => {
    message.classList.add('is-hidden')
  }, 3000)
</script>
{% endblock script %} {% endcomment %}
