{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"> {% endcomment %}
  <link rel="stylesheet" href="{% static 'bulma-custom.css' %}">
  <title>{% block title %}CRStudio.io ID{% endblock title %}</title>
  {% block head %}{% endblock head %}

</head>
<body>
  <nav class="navbar p-2" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbar" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>
  
        <a class="navbar-item" href="{% url 'accounts:my_profile' %}">
          My Page
        </a>

        <a class="navbar-item" href="{% url 'oauth:index' %}">
          OAuth
        </a>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            {% if user.is_authenticated %}
            <form action="{% url 'accounts:signout' %}" method="post">
              {% csrf_token %}
              <input class="button is-primary" type="submit" value="Sign Out" />
            </form>
            {% else %}
            <a id="signin-link" class="button is-primary" href="{% url 'accounts:signup' %}">
              Sign up
            </a>
            <a id="signup-link" class="button is-primary" href="{% url 'accounts:signin' %}">
              Sign in
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>  
  </nav>
  
  
  <main class="container content is-max-desktop">
    {% block content %}
    <div>{% templatetag openblock %} block content {% templatetag closeblock %}</div>
    {% endblock content %}
  </main>
  {% comment %} navbar script {% endcomment %}
  <script>
    document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    
      // Add a click event on each of them
      $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {
    
          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);
    
          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
    
        });
      });
    });
  </script>
  {% comment %} preserve next {% endcomment %}
  <script>
    const urlParams = new URLSearchParams(location.search);
    const next = urlParams.get('next');
    if (next) {
      const signupLink = document.getElementById('signup-link');
      signupLink.href += `?next=${encodeURIComponent(next)}`;
      const signinLink = document.getElementById('signin-link');
      signinLink.href += `?next=${encodeURIComponent(next)}`;
    }
  </script>
  {% comment %} button hovers {% endcomment %}
  <script>
    const buttons = document.querySelectorAll('.button')
    buttons.forEach(button => button.addEventListener('mouseenter', (event) => {
      event.target.classList.add('is-hovered')
      event.target.classList.add('is-focused')
    }))
    buttons.forEach(button => button.addEventListener('mouseleave', (event) => {
      event.target.classList.remove('is-hovered')
      event.target.classList.remove('is-focused')
    }))
    
  </script>

  {% comment %} other template scripts {% endcomment %}
  {% block script %}
  {% endblock script %}
  
</body>
</html>